body[data-aos-duration="4000"] [data-aos],
[data-aos][data-aos][data-aos-duration="4000"] {
  transition-duration: 4000ms;
}
body[data-aos-duration="4500"] [data-aos],
[data-aos][data-aos][data-aos-duration="4500"] {
  transition-duration: 4500ms;
}
body[data-aos-duration="9000"] [data-aos],
[data-aos][data-aos][data-aos-duration="9000"] {
  transition-duration: 9000ms;
}
