.border-tab {
  width: 22px;
  height: 22px;
  // background: rgba(#00ab55, 0.16);
  margin-right: 8px;
  p {
    font-size: 12px;
    line-height: 20px;
    // color: #007b55;
  }
}

.do-ut-daerah-tabs {
  margin-top: 24px;
}
